<h1>hello </h1>
<form action="/" method="get">
    get
    <input name="test" value="value">
    <input type="submit">
</form>

<form action="/" method="post" enctype="application/x-www-form-urlencoded">
    post
    <input name="test" value="value">
    <input type="submit">
</form>

<pre>
query:
{{ params['test'] }}
params:
{{ params['test'] }}
</pre>
